/* base styles */
html {
    box-sizing: border-box;
}

* {
    margin-bottom: 0;
    margin-top: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    width: 1268px;
    margin: 0 auto;
}

/* styles for header */

.note-container {
    height: 146px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    text-align: center;
}

.note-link {
    font-family: inherit;
    font-size: 45px;
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    cursor: pointer;
}

.note-link-box {
    width: 860px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    height: 130px;
    padding-top: 40px;
}

.users-icons {
    list-style: none;
    padding-left: 0px;
    display: flex;
}

.menu-btn__box {
    width: 85px;
    height: 34px;
    position: relative;
}

.menu-btn {
    width: 85px;
    height: 34px;
    background-color: transparent;
    border: none;
}

.menu-btn__line {
    background-color: #000000;
    width: 85px;
    height: 2px;
    position: absolute;
    right: 0px;
}

.menu-btn__line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.menu-btn__line:nth-child(3) {
    bottom: 0px;
}

.main-title-logo {
    height: 570px;
}

.main-title-logo__logo,
.main-title-logo__title {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-title-logo__logo {
    margin-bottom: 45px;
}

.users-icons__img {
    margin-left: 25px;
    cursor: pointer;
}

.menu-list {
    display: none;
    list-style: none;
    padding-left: 0px;
    justify-content: space-between;
    font-size: 45px;
    margin: 0 auto;
    font-weight: 600;
}

.menu-item-link {
    text-decoration: none;
    color: #000000;
}


/* styles for main */
/* section main-info */
.main-info {
    background-color: #000000;
    height: 1444px;
}

.info-title,
.info-text {
    color: #ffffff;
    font-weight: 300;
}

.info-title {
    padding-top: 180px;
    font-size: 80px;
    padding-bottom: 165px;
}

.info-text {
    font-size: 65px;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 120px;
}

.info-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hidden-text-l {
    display: none;
}

/* section main-content */
.section-title {
    height: 478px;
    background-image: url("../images/main/title_section.png");
    background-repeat: no-repeat;
}

.content-slider-wrapper {
    background-color: #f4bab5;
    height: 2310px;
}

.conten-slider-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.slider-mark {
    width: 40px;
    height: 40px;
    border: 5px solid #000000;
    border-radius: 50% 50% 50% 50%;
    margin: 8px;
}

.slider-mark-box {
    width: 168px;
    display: flex;
}

.content-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.name-content-title {
    font-size: 60px;
    margin-top: 170px;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}

.name-content {
    margin-bottom: 65px;
    font-size: 90px;
    text-align: center;
}

.content-info-1 {
    width: 868px;
    height: 133px;
    border: 6px solid #000000;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.content-info-1__mark {
    width: 40px;
    height: 40px;
    border-radius: 50% 50% 50% 50%;
    border: none;
    background-color: #b3f695;
    margin-right: 40px;
}

.content-info-1__text {
    font-size: 80px;
    font-weight: 600;
}

.main-content-text {
    font-size: 80px;
    line-height: 90px;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 86px;
}

.content-btn {
    width: 820px;
    height: 147px;
    border: none;
    background-color: #000000;
    color: #ffffff;
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 115px;
}

.content-text-l {
    display: none;
}

.content-box__1 {
    margin-top: 460px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.name-content-title-box {
    position: absolute;
    top: 0px;
    width: 100%;
}
.content-box__2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}






/* media rules */
@media screen and (min-width: 4262px) {

    /* base */
    .wrapper {
        min-width: 4242;
        max-width: 100vw;
    }

    .container {
        width: 3888px;
    }

    /* header */

    .note-link {
        font-size: 50px;
    }

    .note-link-box {
        width: 100%
    }

    .menu-btn__box {
        opacity: 0;
    }

    .main-title-logo__logo {
        width: 300px;
    }

    .main-title-logo__title {
        width: 1100px;
    }

    .users-icons__img {
        margin-left: 35px;
    }

    .main-title-logo {
        height: 923px;
    }

    .main-title-logo__logo {
        margin-bottom: 97px;
    }

    .menu-list {
        display: flex;
        width: 3608px;
        margin-bottom: 190px;
    }

    /* main */
    /* section main-info */
    .main-info {
        height: 1308px;
    }

    .info-title {
        padding-top: 180px;
        font-size: 200px;
        padding-bottom: 165px;
    }

    .info-text {
        font-size: 80px;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 120px;
        width: 3000px;
    }

    .hidden-text-l {
        display: block;
    }

    .hidden-text-s {
        display: none;
    }

    /* section main-content */
    .section-title {
        margin-top: 40px;
        height: 625px;
        background-image: url("../images/main/title_section_l.png");
        background-repeat: no-repeat;
    }

    .content-photo {
        width: 1336px;
    }

    .name-content-title {
        font-size: 90px;
    }

    .name-content {
        font-size: 180px;
        text-align: center;
    }

    .main-content-text {
        font-size: 80px;
        line-height: 113px;
    }

    .content-text-s {
        display: none;
    }

    .content-text-l {
        display: block;
    }

    .content-btn {
        background-color: transparent;
        border: 6px solid #000000;
        color: #000000;
    }

    .content-info-1 {
        width: 660px;
        height: 97px;
        border: 6px solid #000000;
        border-radius: 40px 40px 40px 40px;
        margin-top: 90px;
    }

    .content-info-1__text {
        font-size: 60px;
    }

    /* .content-box div:nth-child(n+1):not(.transform-1) {
        order: 1;

    } */
    .content-box-for-style {
        display: flex;
        flex: wrap;
        width: 100%;
        margin-top: 313px;
    }

    .content-box__2 {
        width: 2400px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .content-box__1 {
        width: 1488px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0px;
    }

    .name-content-title-box {
        width: 100%;
    }

    .main-content-text-box {
        width: 1617px;
    }

    .content-slider-wrapper {
        height: 2148px;
    }
    .slider-mark-box {
        margin-top: 170px;
    }
    .name-content-title-box {
        position: static;
    }
    
}